<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Komponenter</title>
    <style>
      img {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <counter-button></counter-button>
      <counter-button></counter-button>
      <counter-button></counter-button>
      <random-dog></random-dog>
      <random-dog></random-dog>
      <paragraphs></paragraphs>
      <paragraphs></paragraphs>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="index.js"></script>
  </body>
</html>
