<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>En liten chatt</title>
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <ol>
        <li
          @click="like(message)"
          :style="{ alignSelf: message.self ? 'end' : 'start' }"
          v-for="message in messages"
        >
          {{ message.text }}
          <img
            alt=""
            :src="message.image"
            v-show="message.image !== undefined"
          />
          <span class="reaction">{{ message.reaction }}</span>
          <span class="time">
            {{ message.time }}
            <span v-if="message.delivered">✓</span>
            <span v-else>⨯</span>
          </span>
        </li>
      </ol>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="index.js"></script>
  </body>
</html>
